COPY overwrites collection behaviour

Hi,

Thanks for Litmus!

I'm opening this issue to discuss this test:

```c
    /* tricky one this, I didn't think it should work, but the spec
     * makes it look like it should. */
    ONV(ne_copy(i_session, 1, NE_DEPTH_INFINITE, src, coll),
	("COPY overwrites collection: %s", ne_get_error(i_session)));
```

I agree with this [errata](https://www.rfc-editor.org/errata/eid4440) to RFC4918, that a resource should not overwrite an existing collection. One would expect from a DAV server a behaviour like the Unix's `cp` command, if the target directory exists, the file is copied underneath it.

I believe the example in section 9.8.3 of RFC4918 is implying that the destination does not exist:

```txt
   The Destination header only specifies the destination URI for the
   Request-URI.  When applied to members of the collection identified by
   the Request-URI, the value of Destination is to be modified to
   reflect the current location in the hierarchy.  So, if the Request-
   URI is /a/ with Host header value http://example.com/ and the
   Destination is http://example.com/b/, then when
   http://example.com/a/c/d is processed, it must use a Destination of
   http://example.com/b/c/d.
```

However, if `http://example.com/b/` already exists, the final destination should be `http://example.com/b/a/c/d`.


Actually, after reading the RFC in more detail, the `Destination` header does not behave like the Unix file system so I'm closing this.